html{
	height:80%;
}
body {
	font: 10px sans-serif;
	height: 100%;
	/*background-image: -webkit-gradient(radial, center center, 0, center center, 497, color-stop(0, #C4BB27), color-stop(1, #782B04));
	background-image: -moz-radial-gradient(center, circle farthest-corner, #C4BB27 0%, #782B04 100%);*/
	background-color: black;

}

table{
	vertical-align:top;
	height:100%;
	/*border:solid 1px #FFFFFF;*/
	border-collapse: collapse;
	background-color: white;
	width:90%;
}

td{
	vertical-align: top;
	/*border:solid 2px #FFFFFF;*/
}

.header{
	color:#F58400;
	text-align:left;
	font-weight:bold;
	font:17px Helvetica, sans-serif;
	border-style:solid;
	border-top: 1px #F58400;
	border-left: 1px #F58400;
	border-right: 1px #F58400;
	width:100%;
}

.slider{
	width:100%;
}

option{
	font: 15px Helvetica, sans-serif;
}

.tectonic {
	fill: none;
	stroke: #FFF;
	stroke-width:1px;
	opacity: 0.5;
}

.volcano {
	fill: red;
	stroke: black;
	stroke-width: 1px;
	opacity: 0.5;
}

.land {
	fill: #d7c7ad;
	stroke: #766951;
}

.borders {
	fill: none;
	stroke: #a5967e;
}

.overlay {
	fill: none;
	pointer-events: all;
}

.boundary {
	fill: none;
	stroke: #fff;
	stroke-linejoin: round;
	stroke-linecap: round;
}
