body {
	font: 10px sans-serif;
}

.tectonic {
	fill: none;
	stroke: #000;
	opacity: 0.5;
}

.volcano {
	fill: red;
	stroke: black;
	stroke-width: 1px;
	opacity: 0.5;
}

.land {
	fill: #d7c7ad;
	stroke: #766951;
}

.borders {
	fill: none;
	stroke: #a5967e;
}

.overlay {
	fill: none;
	pointer-events: all;
}

.boundary {
	fill: none;
	stroke: #fff;
	stroke-linejoin: round;
	stroke-linecap: round;
}
